<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List users</title>
</head>
<body>
    <table>
        <tr>
            <td>productName</td>
            <td>description</td>
            <td>category</td>
            <td>imageUrl</td>
            <td>price</td>
            <td>reviews</td>
           <td>detail</td>
        </tr>
        {% for product in data %}
        <tr>
            <td> {{ product.productName }} </td>
            <td> {{ product.description }} </td>
            <td> {{ product.category }} </td>
            <td> {{ product.imageUrl }} </td>
            <td> {{ product.price }} </td>
                 {% set sumratings = 0 %}
                 {% for rating in product.reviews %}
                 {% set sumratings = sumratings + rating.value %}
                 {% endfor %}
            <td>  {{  sumratings / product.reviews|length }}</td>
             <td> <a href="/products/{{ product._id }}"> detail </a> </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>